## Loading Libraries and Reading CSV files

In [6]:
library(dplyr)
players <- read.csv("player.csv")
teams <- read.csv("team.csv")

## Cleaned Players Table

In [22]:
head(players)

  X player_api_id player_name        overall_rating gk_rating
1 1 505942        Aaron Appindangoye 67              43
2 2 155782        Aaron Cresswell    74             121
3 3 162549        Aaron Doran        71             125
4 4  30572        Aaron Galindo      75             111
5 5  23780        Aaron Hughes       78             129
6 6  27316        Aaron Hunt         79             132
  num_of_appearances num_of_leagues
1   5                1
2  75                1
3  90                1
4   7                1
5 162                1
6 155                1

## Cleaned Teams Table

In [20]:
head(teams)

  X team_api_id team_long_name    team_short_name build_sum chance_sum
1 1  9987       KRC Genk          GEN             NA        182
2 2  9993       Beerschot AC      BAC             NA        185
3 3 10000       SV Zulte-Waregem  ZUL             NA        153
4 4  9994       Sporting Lokeren  LOK             NA        154
5 5  9984       KSV Cercle Brugge CEB             NA        200
6 6  8635       RSC Anderlecht    AND             NA        182
  defence_sum goals
1 205         348
2 210         174
3 200         306
4 200         279
5 195         213
6 190         427

### Query 1 : Which are the top 10 players by overall rating?

In [9]:
overall <- arrange(players, desc(overall_rating))
overall[1:10,]

   X     player_api_id player_name       overall_rating gk_rating
1   7105 30981         Lionel Messi      94             147
2   2287 30893         Cristiano Ronaldo 93             145
3   2288 30893         Cristiano Ronaldo 93             145
4   4419 30717         Gianluigi Buffon  93             449
5  12382 30829         Wayne Rooney      93             160
6   4611 39989         Gregory Coupet    92             447
7  12506 39854         Xavi Hernandez    92             173
8    446 30723         Alessandro Nesta  91             138
9    853 30955         Andres Iniesta    91             161
10  3668 34520         Fabio Cannavaro   91             142
   num_of_appearances num_of_leagues
1  127                1
2  251                1
3  251                2
4  231                1
5  192                1
6   37                2
7  182                1
8   64                1
9  190                1
10  40                1

### Query 2 : Which are the top 10 goalkeepers by sum of gk attributes?

In [10]:
gk <- arrange(players, desc(gk_rating))
gk[1:10,]

   X     player_api_id player_name       overall_rating gk_rating
1   4419  30717        Gianluigi Buffon  93             449
2   4611  39989        Gregory Coupet    92             447
3   9882  30859        Petr Cech         89             445
4   5035  30657        Iker Casillas     91             442
5   7545  27299        Manuel Neuer      90             440
6   6395  30989        Julio Cesar       89             438
7  11020  24503        Sebastian Frey    87             437
8   3328  30726        Edwin van der Sar 87             436
9   2686 182917        David De Gea      87             429
10  9837  30660        Pepe Reina        85             428
   num_of_appearances num_of_leagues
1  231                1
2   37                2
3  251                1
4  232                2
5  255                1
6  202                3
7  156                1
8   87                1
9  222                2
10 249                3

### Query 3 : Which are the top 10 players by number of appearances (with any team they played with)?

In [11]:
appeareances <- arrange(players, desc(num_of_appearances))
appeareances[1:10,]

   X     player_api_id player_name          overall_rating gk_rating
1  11524 31293         Steve Mandanda       84             421
2  11481 41097         Stephane Ruffier     NA              NA
3   4565 33764         Gorka Iraizoz Moreno 81             404
4  10848 42422         Samir Handanovic     84             412
5   4930 26295         Hugo Lloris          86             425
6   5813 31432         Joe Hart             85             414
7   1855 26168         Cedric Carrasso      83             408
8   4231 23782         Gareth Barry         84             165
9   1531 38433         Borja Valero         83             158
10  1532 38433         Borja Valero         83             158
   num_of_appearances num_of_leagues
1  300                1
2  293                1
3  286                1
4  286                1
5  282                2
6  275                1
7  268                1
8  258                1
9  257                2
10 257                3

### Query 4 : Which are the top 10 players by number of leagues they played in?

In [12]:
leagues <- arrange(players, desc(num_of_leagues))
leagues[1:10,]

   X     player_api_id player_name           overall_rating gk_rating
1   4302  42119        Gelson Fernandes      NA              NA
2   4299  42119        Gelson Fernandes      NA              NA
3  10352 116750        Ricky van Wolfswinkel 77             106
4    624  25816        Almen Abdi            NA              NA
5    666  93484        Aly Cissokho          79             130
6    916  46509        Angel Di Maria        86             150
7   1505  96643        Bojan Krkic           81             138
8   1688  38229        Bryan Ruiz            82             181
9   2038  32937        Christian Poulsen     83             164
10  2529  30477        Danijel Pranjic       78             152
   num_of_appearances num_of_leagues
1  174                6
2  174                5
3  116                5
4   38                4
5  178                4
6  167                4
7   84                4
8  150                4
9   69                4
10  46                4

### Query 5 : Which are the top 10 teams by sum of build up play attributes?

In [13]:
build_att <- arrange(teams, desc(build_sum))
build_att[1:10,]

   X   team_api_id team_long_name       team_short_name build_sum chance_sum
1  156 208931      Carpi                CAP             190       160
2  124   8262      SV Darmstadt 98      DAR             179       174
3  230 158085      FC Arouca            ARO             174       160
4  282   8372      SD Eibar             EIB             165       179
5  180   6433      Go Ahead Eagles      GAE             160       132
6   24   8573      KV Oostende          OOS             155       140
7  232   8613      Boavista FC          BOA             153       128
8   16   9996      Royal Excel Mouscron MOU             150       150
9   25 274581      Royal Excel Mouscron MOP             150       150
10 231   6547      FC Penafiel          PEN             147       146
   defence_sum goals
1  141          37
2  129          38
3  113         101
4  142          83
5  141          74
6  133         102
7  148          51
8  140          42
9  140          71
10 121          29

### Query 6 : Which are the top 10 teams by sum of chance creation attributes?

In [14]:
chance_att <- arrange(teams, desc(chance_sum))
chance_att[1:10,]

   X   team_api_id team_long_name          team_short_name build_sum chance_sum
1  128  8543       Lazio                   LAZ             NA        220
2  106  8697       SV Werder Bremen        WBR             NA        216
3  138  9875       Napoli                  NAP             NA        215
4   35  8456       Manchester City         MCI             NA        210
5   39  8586       Tottenham Hotspur       TOT             NA        210
6   46  8658       Birmingham City         BIR             NA        210
7   47  8602       Wolverhampton Wanderers WOL             NA        210
8   48  8191       Burnley                 BUR             NA        210
9   50 10003       Swansea City            SWA             NA        210
10  51 10172       Queens Park Rangers     QPR             NA        210
   defence_sum goals
1  190         417
2  205         423
3  165         514
4  180         606
5  181         481
6  210          75
7  210         118
8  205          70
9  210         233
10 210         115

### Query 7 : Which are the top 10 teams by sum of defense attributes?

In [18]:
defence_att <- arrange(teams, desc(defence_sum))
defence_att[1:10,]

   X  team_api_id team_long_name          team_short_name build_sum chance_sum
1   2  9993       Beerschot AC            BAC             NA        185
2  17 10001       KVC Westerlo            WES             NA        167
3  18  9986       Sporting Charleroi      CHA             NA        148
4  29  8659       West Bromwich Albion    WBA             NA        195
5  42  8667       Hull City               HUL             NA        195
6  46  8658       Birmingham City         BIR             NA        210
7  47  8602       Wolverhampton Wanderers WOL             NA        210
8  49  8483       Blackpool               BLA             NA        205
9  50 10003       Swansea City            SWA             NA        210
10 51 10172       Queens Park Rangers     QPR             NA        210
   defence_sum goals
1  210         174
2  210         217
3  210         201
4  210         305
5  210         144
6  210          75
7  210         118
8  210          55
9  210         233
10 210         115

### Query 8 : Which are the top 10 teams by number of scored goals?

In [19]:
goals <- arrange(teams, desc(goals))
goals[1:10,]

   X   team_api_id team_long_name    team_short_name build_sum chance_sum
1  259  8634       FC Barcelona      BAR             NA        175
2  257  8633       Real Madrid CF    REA             NA        200
3  243  9925       Celtic            CEL             NA        205
4   95  9823       FC Bayern Munich  BMU             NA        205
5  166  8640       PSV               PSV             NA        200
6  162  8593       Ajax              AJA             NA        199
7  288  9931       FC Basel          BAS             NA        186
8   35  8456       Manchester City   MCI             NA        210
9   44  8455       Chelsea           CHE             NA        200
10  26 10260       Manchester United MUN             NA        200
   defence_sum goals
1  195         849
2  178         843
3  200         695
4  184         653
5  167         652
6  193         647
7  180         619
8  180         606
9  168         583
10 163         582