## Loading Libraries

In [96]:
library(dplyr)
my_db <- src_sqlite("database.sqlite", create = T)

## Converting Tables into Dataframes

In [97]:
player_attribute <- tbl(my_db,"Player_Attributes")
player <- tbl(my_db,"Player")
team_attribute <- tbl(my_db,"Team_Attributes")
team <- tbl(my_db,"Team")
match <- tbl(my_db,"Match")
league <- tbl(my_db,"League")
players_attribute <- data.frame(player_attribute)
players <- data.frame(player)
team_attribute <- data.frame(team_attribute)
team <- data.frame(team)
match <- data.frame(match)
league <- data.frame(league)

## Players

### Get overall ratings of each player

In [98]:
ratings <- players_attribute %>% group_by(player_api_id) %>% filter(overall_rating == max(overall_rating))
top_distinct <- distinct(ratings, .keep_all = TRUE)
distinct_players <- top_distinct[2:5]

### Get the sum of gk attributes according to each player

In [99]:
gk_att <- select(player_attribute, player_api_id, player_fifa_api_id, gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes)
gk_att <- data.frame(gk_att)
gk <- transform(gk_att, gksum=rowSums(gk_att[,3:ncol(gk_att)]))
gk <- gk %>% group_by(player_api_id) %>% filter(gksum == max(gksum))
distinct_goalkeepers <- distinct(gk, .keep_all = TRUE)

### Join for previous tables

In [100]:
add <- full_join(distinct_players,distinct_goalkeepers)

Joining, by = c("player_fifa_api_id", "player_api_id")

### Get the number of appearances according to each player

In [101]:
home <- select(match,match_api_id,home_team_api_id,home_player_1,home_player_2,home_player_3,home_player_4,home_player_5,home_player_6,home_player_7,home_player_8,home_player_9,home_player_10,home_player_11)
away <- select(match,match_api_id,away_team_api_id,away_player_1,away_player_2,away_player_3,away_player_4,away_player_5,away_player_6,away_player_7,away_player_8,away_player_9,away_player_10,away_player_11)
hp1 <- count(home,home_player_1)
hp2 <- count(home,home_player_2)
hp3 <- count(home,home_player_3)
hp4 <- count(home,home_player_4)
hp5 <- count(home,home_player_5)
hp6 <- count(home,home_player_6)
hp7 <- count(home,home_player_7)
hp8 <- count(home,home_player_8)
hp9 <- count(home,home_player_9)
hp10 <- count(home,home_player_10)
hp11 <- count(home,home_player_11)
colnames(hp1) <- c("player_api_id","count")
colnames(hp2) <- c("player_api_id","count")
colnames(hp3) <- c("player_api_id","count")
colnames(hp4) <- c("player_api_id","count")
colnames(hp5) <- c("player_api_id","count")
colnames(hp6) <- c("player_api_id","count")
colnames(hp7) <- c("player_api_id","count")
colnames(hp8) <- c("player_api_id","count")
colnames(hp9) <- c("player_api_id","count")
colnames(hp10) <- c("player_api_id","count")
colnames(hp11) <- c("player_api_id","count")
j1 <- full_join(hp1,hp2)
j2 <- full_join(j1,hp3)
j3 <- full_join(j2,hp4)
j4 <- full_join(j3,hp5)
j5 <- full_join(j4,hp6)
j6 <- full_join(j5,hp7)
j7 <- full_join(j6,hp8)
j8 <- full_join(j7,hp9)
j9 <- full_join(j8,hp10)
j10 <- full_join(j9,hp11)
ap1 <- count(away,away_player_1)
ap2 <- count(away,away_player_2)
ap3 <- count(away,away_player_3)
ap4 <- count(away,away_player_4)
ap5 <- count(away,away_player_5)
ap6 <- count(away,away_player_6)
ap7 <- count(away,away_player_7)
ap8 <- count(away,away_player_8)
ap9 <- count(away,away_player_9)
ap10 <- count(away,away_player_10)
ap11 <- count(away,away_player_11)
colnames(ap1) <- c("player_api_id","count")
colnames(ap2) <- c("player_api_id","count")
colnames(ap3) <- c("player_api_id","count")
colnames(ap4) <- c("player_api_id","count")
colnames(ap5) <- c("player_api_id","count")
colnames(ap6) <- c("player_api_id","count")
colnames(ap7) <- c("player_api_id","count")
colnames(ap8) <- c("player_api_id","count")
colnames(ap9) <- c("player_api_id","count")
colnames(ap10) <- c("player_api_id","count")
colnames(ap11) <- c("player_api_id","count")
k1 <- full_join(ap1,ap2)
k2 <- full_join(k1,ap3)
k3 <- full_join(k2,ap4)
k4 <- full_join(k3,ap5)
k5 <- full_join(k4,ap6)
k6 <- full_join(k5,ap7)
k7 <- full_join(k6,ap8)
k8 <- full_join(k7,ap9)
k9 <- full_join(k8,ap10)
k10 <- full_join(k9,ap11)
appearance1 <- full_join(j10,k10)
appearance1 <- na.omit(appearance1)
data <- aggregate(count~player_api_id,data=appearance1,FUN=sum)

Joining, by = c("player_api_id", "count")
Joining, by = c("player_api_id", "count")
Joining, by = c("player_api_id", "count")
Joining, by = c("player_api_id", "count")
Joining, by = c("player_api_id", "count")
Joining, by = c("player_api_id", "count")
Joining, by = c("player_api_id", "count")
Joining, by = c("player_api_id", "count")
Joining, by = c("player_api_id", "count")
Joining, by = c("player_api_id", "count")
Joining, by = c("player_api_id", "count")
Joining, by = c("player_api_id", "count")
Joining, by = c("player_api_id", "count")
Joining, by = c("player_api_id", "count")
Joining, by = c("player_api_id", "count")
Joining, by = c("player_api_id", "count")
Joining, by = c("player_api_id", "count")
Joining, by = c("player_api_id", "count")
Joining, by = c("player_api_id", "count")
Joining, by = c("player_api_id", "count")
Joining, by = c("player_api_id", "count")

### Cummulative join for previous tables

In [102]:
add1 <- full_join(add,data)

Joining, by = "player_api_id"

### Get the number of leagues according to each player

In [103]:
league1 <- select(match,league_id,home_player_1,home_player_2,home_player_3,home_player_4,home_player_5,home_player_6,home_player_7,home_player_8,home_player_9,home_player_10,home_player_11,away_player_1,away_player_2,away_player_3,away_player_4,away_player_5,away_player_6,away_player_7,away_player_8,away_player_9,away_player_10,away_player_11)
league1 <- na.omit(league1)

p1 <- league1 %>% group_by(home_player_1)
p1 <- summarise(distinct(p1,league_id),count = n())

p2 <- league1 %>% group_by(home_player_2)
p2 <- summarise(distinct(p2,league_id),count = n())

p3 <- league1 %>% group_by(home_player_3)
p3 <- summarise(distinct(p3,league_id),count = n())

p4 <- league1 %>% group_by(home_player_4)
p4 <- summarise(distinct(p4,league_id),count = n())

p5 <- league1 %>% group_by(home_player_5)
p5 <- summarise(distinct(p5,league_id),count = n())

p6 <- league1 %>% group_by(home_player_6)
p6 <- summarise(distinct(p6,league_id),count = n())

p7 <- league1 %>% group_by(home_player_7)
p7 <- summarise(distinct(p7,league_id),count = n())

p8 <- league1 %>% group_by(home_player_8)
p8 <- summarise(distinct(p8,league_id),count = n())

p9 <- league1 %>% group_by(home_player_9)
p9 <- summarise(distinct(p9,league_id),count = n())

p10 <- league1 %>% group_by(home_player_10)
p10 <- summarise(distinct(p10,league_id),count = n())

p11 <- league1 %>% group_by(home_player_11)
p11 <- summarise(distinct(p11,league_id),count = n())

p12 <- league1 %>% group_by(away_player_1)
p12 <- summarise(distinct(p12,league_id),count = n())

p13 <- league1 %>% group_by(away_player_2)
p13 <- summarise(distinct(p13,league_id),count = n())

p14 <- league1 %>% group_by(away_player_3)
p14 <- summarise(distinct(p14,league_id),count = n())

p15 <- league1 %>% group_by(away_player_4)
p15 <- summarise(distinct(p15,league_id),count = n())

p16 <- league1 %>% group_by(away_player_5)
p16 <- summarise(distinct(p16,league_id),count = n())

p17 <- league1 %>% group_by(away_player_6)
p17 <- summarise(distinct(p17,league_id),count = n())

p18 <- league1 %>% group_by(away_player_7)
p18 <- summarise(distinct(p18,league_id),count = n())

p19 <- league1 %>% group_by(away_player_8)
p19 <- summarise(distinct(p19,league_id),count = n())

p20 <- league1 %>% group_by(away_player_9)
p20 <- summarise(distinct(p20,league_id),count = n())

p21 <- league1 %>% group_by(away_player_10)
p21 <- summarise(distinct(p21,league_id),count = n())

p22 <- league1 %>% group_by(away_player_11)
p22 <- summarise(distinct(p22,league_id),count = n())

colnames(p1) <- c("player_api_id","league")
colnames(p2) <- c("player_api_id","league")
colnames(p3) <- c("player_api_id","league")
colnames(p4) <- c("player_api_id","league")
colnames(p5) <- c("player_api_id","league")
colnames(p6) <- c("player_api_id","league")
colnames(p7) <- c("player_api_id","league")
colnames(p8) <- c("player_api_id","league")
colnames(p9) <- c("player_api_id","league")
colnames(p10) <- c("player_api_id","league")
colnames(p11) <- c("player_api_id","league")
colnames(p12) <- c("player_api_id","league")
colnames(p13) <- c("player_api_id","league")
colnames(p14) <- c("player_api_id","league")
colnames(p15) <- c("player_api_id","league")
colnames(p16) <- c("player_api_id","league")
colnames(p17) <- c("player_api_id","league")
colnames(p18) <- c("player_api_id","league")
colnames(p19) <- c("player_api_id","league")
colnames(p20) <- c("player_api_id","league")
colnames(p21) <- c("player_api_id","league")
colnames(p22) <- c("player_api_id","league")

j1 <- full_join(p1,p2)
j2 <- full_join(j1,p3)
j3 <- full_join(j2,p4)
j4 <- full_join(j3,p5)
j5 <- full_join(j4,p6)
j6 <- full_join(j5,p7)
j7 <- full_join(j6,p8)
j8 <- full_join(j7,p9)
j9 <- full_join(j8,p10)
j10 <- full_join(j9,p11)
j11 <- full_join(j10,p12)
j12 <- full_join(j11,p13)
j13 <- full_join(j12,p14)
j14 <- full_join(j13,p15)
j15 <- full_join(j14,p16)
j16 <- full_join(j15,p17)
j17 <- full_join(j16,p18)
j18 <- full_join(j17,p19)
j19 <- full_join(j18,p20)
j20 <- full_join(j19,p21)

Joining, by = c("player_api_id", "league")
Joining, by = c("player_api_id", "league")
Joining, by = c("player_api_id", "league")
Joining, by = c("player_api_id", "league")
Joining, by = c("player_api_id", "league")
Joining, by = c("player_api_id", "league")
Joining, by = c("player_api_id", "league")
Joining, by = c("player_api_id", "league")
Joining, by = c("player_api_id", "league")
Joining, by = c("player_api_id", "league")
Joining, by = c("player_api_id", "league")
Joining, by = c("player_api_id", "league")
Joining, by = c("player_api_id", "league")
Joining, by = c("player_api_id", "league")
Joining, by = c("player_api_id", "league")
Joining, by = c("player_api_id", "league")
Joining, by = c("player_api_id", "league")
Joining, by = c("player_api_id", "league")
Joining, by = c("player_api_id", "league")
Joining, by = c("player_api_id", "league")

### Cummulative join for previous tables

In [104]:
add2 <- full_join(add1,j20)
add2

Joining, by = "player_api_id"

      player_fifa_api_id player_api_id date                overall_rating
1     218353             505942        2016-02-18 00:00:00 67
2     189615             155782        2016-04-21 00:00:00 74
3     186170             162549        2013-09-20 00:00:00 71
4     140161              30572        2009-02-22 00:00:00 75
5      17725              23780        2010-02-22 00:00:00 78
6     158138              27316        2014-02-28 00:00:00 79
7     221280             564793        2016-04-21 00:00:00 61
8     152747              30895        2010-02-22 00:00:00 84
9     206592             528212        2016-02-25 00:00:00 48
10    188621             101042        2015-12-03 00:00:00 69
11     47189              23889        2007-08-30 00:00:00 75
12    194958             231592        2016-02-04 00:00:00 75
13    213568             163222        2014-01-17 00:00:00 63
14    183853              40719        2015-12-17 00:00:00 71
15    183853              40719        2015-12-17 00:00:00 71
16    186561              75489        2014-09-18 00:00:00 83
17    226014             597948        2016-04-14 00:00:00 55
18    213569             161644        2015-12-03 00:00:00 65
19      2335              23499        2015-09-21 00:00:00 67
20    187939             120919        2015-11-19 00:00:00 77
21    156626              46447        2007-08-30 00:00:00 68
22    192274             167027        2012-02-22 00:00:00 76
23    192274             167027        2012-02-22 00:00:00 76
24    202425             245653        2011-02-22 00:00:00 64
25    188145             128456        2016-03-17 00:00:00 73
26    188145             128456        2016-03-17 00:00:00 73
27    178063              42664        2011-08-30 00:00:00 73
28    178063              42664        2011-08-30 00:00:00 73
29    212934             425950        2014-07-18 00:00:00 59
30     52782              38423        2007-08-30 00:00:00 70
...   ...                ...           ...                 ...
12728 NA                 110189        NA                  NA
12729 NA                 110189        NA                  NA
12730 NA                 112297        NA                  NA
12731 NA                 113227        NA                  NA
12732 NA                 115171        NA                  NA
12733 NA                 118441        NA                  NA
12734 NA                 120845        NA                  NA
12735 NA                 121953        NA                  NA
12736 NA                 121960        NA                  NA
12737 NA                 121960        NA                  NA
12738 NA                 143403        NA                  NA
12739 NA                 150396        NA                  NA
12740 NA                 150491        NA                  NA
12741 NA                 155384        NA                  NA
12742 NA                 157249        NA                  NA
12743 NA                 163838        NA                  NA
12744 NA                 163843        NA                  NA
12745 NA                 167254        NA                  NA
12746 NA                 178196        NA                  NA
12747 NA                 179523        NA                  NA
12748 NA                 193866        NA                  NA
12749 NA                 193866        NA                  NA
12750 NA                 210844        NA                  NA
12751 NA                 214123        NA                  NA
12752 NA                 254975        NA                  NA
12753 NA                 281679        NA                  NA
12754 NA                 357288        NA                  NA
12755 NA                 391516        NA                  NA
12756 NA                 432040        NA                  NA
12757 NA                 451941        NA                  NA
      gk_diving gk_handling gk_kicking gk_positioning gk_reflexes gksum count
1      6        11          10          8              8           43     5
2      6        22          49         22             22          121    75
3      8        21          54         21             21          125    90
4     14        11          65         11             10          111     7
5     12        20          57         20             20          129   162
6      9        20          63         20             20          132   155
7      8        13          14         14             15           64     4
8     12        25          59         25             25          146   179
9     53        41          39         51             53          237     1
10     7        15           7         10             15           54   157
11     6        25          73         25             25          154    22
12    11         8          12         11             12           54     6
13     8        11           6          6              7           38    16
14    11        21          55         21             21          129    21
15    11        21          55         21             21          129    21
16     8        21          79         21             21          150   116
17    11        13           8         14              9           55     2
18     9        11          12          8              9           49    35
19    33        30          39         31             30          163     1
20     7        10           8         15             10           50     1
21     6        20          45         20             20          111    11
22    11         7           6         16              7           47    72
23    11         7           6         16              7           47    72
24    11         5          15         10             10           51     1
25     5        22          47         22             22          118   142
26     5        22          47         22             22          118   142
27     5        20          57         20             20          122    86
28     5        20          57         20             20          122    86
29     7        14          14         13             14           62     1
30     7        20          62         20             20          129    23
...   ...       ...         ...        ...            ...         ...   ...
12728 NA        NA          NA         NA             NA          NA     62
12729 NA        NA          NA         NA             NA          NA     62
12730 NA        NA          NA         NA             NA          NA     34
12731 NA        NA          NA         NA             NA          NA    148
12732 NA        NA          NA         NA             NA          NA      2
12733 NA        NA          NA         NA             NA          NA     24
12734 NA        NA          NA         NA             NA          NA      1
12735 NA        NA          NA         NA             NA          NA      8
12736 NA        NA          NA         NA             NA          NA     31
12737 NA        NA          NA         NA             NA          NA     31
12738 NA        NA          NA         NA             NA          NA     13
12739 NA        NA          NA         NA             NA          NA     11
12740 NA        NA          NA         NA             NA          NA      3
12741 NA        NA          NA         NA             NA          NA     40
12742 NA        NA          NA         NA             NA          NA      8
12743 NA        NA          NA         NA             NA          NA     16
12744 NA        NA          NA         NA             NA          NA     19
12745 NA        NA          NA         NA             NA          NA      3
12746 NA        NA          NA         NA             NA          NA     26
12747 NA        NA          NA         NA             NA          NA      3
12748 NA        NA          NA         NA             NA          NA     45
12749 NA        NA          NA         NA             NA          NA     45
12750 NA        NA          NA         NA             NA          NA     11
12751 NA        NA          NA         NA             NA          NA      3
12752 NA        NA          NA         NA             NA          NA      3
12753 NA        NA          NA         NA             NA          NA      4
12754 NA        NA          NA         NA             NA          NA      9
12755 NA        NA          NA         NA             NA          NA      1
12756 NA        NA          NA         NA             NA          NA     19
12757 NA        NA          NA         NA             NA          NA      1
      league
1      1
2      1
3      1
4      1
5      1
6      1
7      1
8      1
9      1
10     1
11     1
12     1
13     1
14     1
15     2
16     1
17     1
18     1
19     1
20     1
21     1
22     2
23     1
24     1
25     1
26     2
27     1
28     2
29     1
30    NA
...   ...
12728  1
12729  2
12730  1
12731  1
12732 NA
12733  1
12734  1
12735  1
12736  1
12737  2
12738  1
12739  1
12740  1
12741  1
12742  1
12743  1
12744  2
12745  1
12746  1
12747  1
12748  1
12749  2
12750  1
12751  1
12752  1
12753  1
12754  1
12755  1
12756  1
12757  1

### Removing unncessary columns

In [105]:
add2 <- add2[,-1]

### Removing unncessary columns

In [106]:
add2 <- add2[, -c(4:8)]

### Removing unncessary columns

In [107]:
add2 <- add2[,-2]

In [108]:
add2

      player_api_id overall_rating gksum count league
1     505942        67              43     5    1
2     155782        74             121    75    1
3     162549        71             125    90    1
4      30572        75             111     7    1
5      23780        78             129   162    1
6      27316        79             132   155    1
7     564793        61              64     4    1
8      30895        84             146   179    1
9     528212        48             237     1    1
10    101042        69              54   157    1
11     23889        75             154    22    1
12    231592        75              54     6    1
13    163222        63              38    16    1
14     40719        71             129    21    1
15     40719        71             129    21    2
16     75489        83             150   116    1
17    597948        55              55     2    1
18    161644        65              49    35    1
19     23499        67             163     1    1
20    120919        77              50     1    1
21     46447        68             111    11    1
22    167027        76              47    72    2
23    167027        76              47    72    1
24    245653        64              51     1    1
25    128456        73             118   142    1
26    128456        73             118   142    2
27     42664        73             122    86    1
28     42664        73             122    86    2
29    425950        59              62     1    1
30     38423        70             129    23   NA
...   ...           ...            ...   ...   ...
12728 110189        NA             NA     62    1
12729 110189        NA             NA     62    2
12730 112297        NA             NA     34    1
12731 113227        NA             NA    148    1
12732 115171        NA             NA      2   NA
12733 118441        NA             NA     24    1
12734 120845        NA             NA      1    1
12735 121953        NA             NA      8    1
12736 121960        NA             NA     31    1
12737 121960        NA             NA     31    2
12738 143403        NA             NA     13    1
12739 150396        NA             NA     11    1
12740 150491        NA             NA      3    1
12741 155384        NA             NA     40    1
12742 157249        NA             NA      8    1
12743 163838        NA             NA     16    1
12744 163843        NA             NA     19    2
12745 167254        NA             NA      3    1
12746 178196        NA             NA     26    1
12747 179523        NA             NA      3    1
12748 193866        NA             NA     45    1
12749 193866        NA             NA     45    2
12750 210844        NA             NA     11    1
12751 214123        NA             NA      3    1
12752 254975        NA             NA      3    1
12753 281679        NA             NA      4    1
12754 357288        NA             NA      9    1
12755 391516        NA             NA      1    1
12756 432040        NA             NA     19    1
12757 451941        NA             NA      1    1

### Renaming columns

In [109]:
colnames(add2) <- c("player_api_id", "overall_rating", "gk_rating", "num_of_appearances", "num_of_leagues")

### Cummulative join for previous tables

In [110]:
final_players <- full_join(players[2:3],add2)

Joining, by = "player_api_id"

### Writing file in csv

In [111]:
write.csv(final_players, "player.csv")

## Teams

### Get the number of build_up according to each team

In [112]:
build_up_play <- select(team_attribute,team_api_id,team_fifa_api_id,buildUpPlaySpeed,buildUpPlayDribbling,buildUpPlayPassing)
buildsum <- transform(build_up_play, build_sum=rowSums(build_up_play[,3:ncol(build_up_play)]))
buildsum <- buildsum %>% group_by(team_api_id) %>% filter(build_sum == max(build_sum))
distinct_build <- distinct(buildsum, .keep_all = TRUE)

### Get the number of chance_creation according to each team

In [113]:
chance_creation <- select(team_attribute,team_api_id,team_fifa_api_id,chanceCreationPassing,chanceCreationCrossing,chanceCreationShooting)
chancesum <- transform(chance_creation, chance_sum=rowSums(chance_creation[,3:ncol(chance_creation)]))
chancesum <- chancesum %>% group_by(team_api_id) %>% filter(chance_sum == max(chance_sum))
distinct_chance <- distinct(chancesum, .keep_all = TRUE)

### Joining previous two tables

In [114]:
add <- full_join(distinct_build,distinct_chance)

Joining, by = c("team_api_id", "team_fifa_api_id")

### Get the number of defence according to each team

In [115]:
defence <- select(team_attribute,team_fifa_api_id,team_api_id,defencePressure,defenceAggression,defenceTeamWidth)
defencesum <- transform(defence, defence_sum=rowSums(defence[,3:ncol(defence)]))
defencesum <- defencesum %>% group_by(team_api_id) %>% filter(defence_sum == max(defence_sum))
distinct_defence <- distinct(defencesum, .keep_all = TRUE)

In [116]:
add <- add[, -c(3:5)]

In [117]:
add <- add[, -c(4:6)]

### Cummulative join of previous tables

In [118]:
add1 <- full_join(add,distinct_defence)

Joining, by = c("team_api_id", "team_fifa_api_id")

In [119]:
add1 <- add1[, -c(5:7)]

### Get the number of goals according to each team

In [120]:
home_team <- select(match,home_team_api_id,home_team_goal)
away_team <- select(match,away_team_api_id,away_team_goal)
p_home <- home_team %>% group_by(home_team_api_id) %>% summarise(home_goals = sum(home_team_goal))
p_away <- away_team %>% group_by(away_team_api_id) %>% summarise(away_goals = sum(away_team_goal))
colnames(p_home) <- c("team_api_id","home_goals")
colnames(p_away) <- c("team_api_id","away_goals")
total <- full_join(p_home,p_away)
total <- cbind(total[1],rowSums(total[2:3]))
colnames(total) <- c("team_api_id","goals")

Joining, by = "team_api_id"

### Cummulative join of previous tables

In [121]:
add2 <- full_join(add1,total)

Joining, by = "team_api_id"

### Removing unncessary columns

In [122]:
add2 <- add2[, -2]

### Cummulative join of previous tables

In [123]:
prefinal <- full_join(team,add2)

Joining, by = "team_api_id"

### Removing unncessary columns

In [124]:
prefinal <- prefinal[, -1]

### Removing unncessary columns

In [125]:
prefinal <- prefinal[, -2]

### Writing data in csv

In [126]:
write.csv(prefinal, "team.csv")